<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1>Profile Page</h1>
    
    <table class="table table-hover" border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.age %></td>
                <td><%= user.city %></td>
                <td><%= user.country %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    
</body>
</html>